---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ siteUrl }}/</loc></url>
{%- for post in collections.post %}
  <url><loc>{{ siteUrl }}{{ post.url }}</loc></url>
{%- endfor %}
</urlset>
